.ErrorBoundary {
	margin-bottom: 1rem;

	h2 {
	    color: #b50600;
    	margin-bottom: 5px;
	}

	details {
		white-space: pre-wrap;
	    padding: 1rem;
	    background-color: #ffe9e9;
	    color: #b50000;

	    &:focus {
		  	outline: none !important;
		}
	}
}